* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: -webkit-radial-gradient(center, rgba(0, 0, 70, 1) 0%, #000 60%);
}

@media (max-height: 500px) {
  body {
    margin: 25% 0;
  }
}

/* I love you andrea can i please chew on your butt */
.envelop {
  width: 15rem;
  height: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 400px) and (max-width: 600px) {
  .envelop {
    width: 20rem;
    height: 15rem;
  }
}

@media (min-width: 600px) {
  .envelop {
    width: 25rem;
    height: 20rem;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .envelop {
    bottom: 20%;
  }
}

.envelop__front-paper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0.7rem;
  border: 0.35rem solid #005A8C;
  background-color: #0077B2;
  clip-path: polygon(100% 0%, 50% 70%, 0% 0%, 0% 100%, 100% 100%);
  z-index: 300;
}

.envelop__back-paper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0.7rem;
  background-color: #005A8C;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 90%);
  z-index: 100;
}

.envelop__up-paper {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0.7rem;
  background-color: #005A8C;
  z-index: 400;
  clip-path: polygon(0% 0%, 100% 0%, 50% 81%);
}

.envelop__sticker {
  width: 100%;
  height: 20%;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 400;
  background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
  background-color: #E6F2FA;
  border: 0.3rem solid #CCE0F0;
  background-size: 2rem;
  background-position: center;
}

@media (max-width: 400px) {
  .envelop__sticker {
    background-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .envelop__sticker {
    height: 15%;
  }
}

.envelop__false-sticker {
  width: 20%;
  height: 20%;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 80%;
  bottom: 0;
  right: 0;
  z-index: 300;
  background-image: url("https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png");
  background-color: #E6F2FA;
  border: 0.3rem solid #CCE0F0;
  background-size: 2rem;
  background-position: center;
}

@media (max-width: 400px) {
  .envelop__false-sticker {
    background-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .envelop__false-sticker {
    height: 15%;
  }
}

.envelop__content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 200;
}

/*I love you andrea can i please chew on your butts */
.love-notes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  width: 95%;
  height: 30%;
  background-color: #FFC0CB;
  position: absolute;
  overflow: hidden;
  transition: height 0.5s, opacity 0.25s;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}

.note:nth-child(1) { bottom: 80%; }
.note:nth-child(2) { bottom: 60%; }
.note:nth-child(3) { bottom: 40%; }
.note:nth-child(4) { bottom: 20%; }
.note:nth-child(5) { bottom: 0%; }

.note:hover {
  cursor: pointer;
  height: 45%;
}

.note__text {
  font-family: "Sofia";
  padding: 1rem;
}

.note__text p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

/*I love you andrea can i please chew on your butt */
.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
  z-index: 1000;
}

.heart {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #7ec8ff;
  transform: rotate(-45deg);
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #7ec8ff;
  border-radius: 50%;
}

.heart:before { top: -12.5px; left: 0; }
.heart:after { left: 12.5px; top: 0; }

@keyframes floatUp {
  0% { transform: rotate(-45deg) translate(0,0); opacity: 1; }
  100% { transform: rotate(-45deg) translate(var(--x,0px), -600px); opacity: 0; }
}
